/** Global CSS File, component level CSS files should be considered if project expanded */

.App {
  padding: 5% 10%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #707070;
}

@media screen and (max-width: 750px) {
  .App {
    font-size: 1rem;
  }
}

.folder-structure-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px solid #707070;
}

.folder-structure {
  margin-left: 50px;
}

@media screen and (max-width: 750px) {
  .folder-structure {
    margin-left: 20px;
  }
}

/** FolderRow and FileRow Component Shared Rules **/
.folder-row, .file-row {
  display: flex;
  align-items: center;
}

.folder-row, .file-row {
  margin-bottom: 20px;
}

@media screen and (max-width: 750px) {
  .folder-icon, .file-icon {
    transform:scale(0.5);
  }
}

/** FolderRow Component **/
.folder-icon {
  margin: 0 20px 0 10px;
}

@media screen and (max-width: 750px) {
  .folder-icon {
    margin: 0 5px 0 5px;
  }
}

.chevron-icon-open:hover, .chevron-icon-closed:hover {
  cursor: pointer;
}

.chevron-icon-open {
  transform: rotate(90deg);
}

.chevron-icon-hidden {
  visibility: hidden;
}

/** FileRow Component **/
.file-icon {
  margin-left: 26px;
}

@media screen and (max-width: 750px) {
  .file-icon {
    margin-left: 26px;
  }
}

.file-name {
  margin: 0 20px 0 15px;
}

@media screen and (max-width: 750px) {
  .file-name {
    margin: 0 10px 0 5px;
  }
}

.file-size {
  font-size: 0.8rem;
}

/** SummaryTotals Component **/
.summary-totals {
  display: flex;
  flex-direction: column;
}

.summary-text {
  font-size: 1.6rem;
}

@media screen and (max-width: 750px) {
  .summary-text {
    font-size: 1.4rem;
  }
}